@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100&display=swap');

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    list-style: none;
    color: unset;
    font-family: "Poppins";
    text-decoration: none;
}
body{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}
header{
    background-image:url('../Images/day.jpg');
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}
main{
    position: absolute;
    top:100px;
    display:flex;
    flex-direction: column;
    
    min-height:300px;
    
    width:30%;  
}
div.heading{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    align-items: flex-start;
}
div.heading h2{
    flex-basis: 80%;
    
    
}
div.heading button{
    height:30px;
    position: relative;
    margin-left: 200px;
    flex-basis: 20%;
    font-size: 1.2rem;
}
div.inputbox{
    display:flex;
    justify-content: space-between;
    margin-top: 0px;
    background-color:white;
    color:black;
    align-items: center;
    border-radius: 5px;   
}
div.inputbox input{
    flex-basis:92%;
    font-size: 1.2rem;
    background-color:white;
    padding-left: 10px;
    color:black;
    height: 20px;
    border:none;
    
    
}
.inputbox input:focus{
    outline: none;
    border:none;
}
#addbtn{
 flex-basis: 8%;
 font-size: 1.8rem;
 color: #4f4dde;
 background-color: white;
 border:none;
 border-radius: 5px;

}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:yellow;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: crimson;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 input:checked + .slider:after{
      background-color: crimson;
  }
    
div.content{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #eeeeee;
    min-height:100px;
    justify-content: space-evenly;
    margin-top: 60px;
}
div.list_content{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    border-radius: 10px;
    margin: 5px;
    flex-direction: column;
    height: 50px;
    background-color:white;
    padding:10px;
    color:blueviolet;
}
div.list_content .list_heading{

display:flex;
align-items: center;
justify-content: space-between;
padding: 5px;
}
#clearbtn{
    border:none;
    background-color: white;
}
div.list_content .actual_list{
background-color: white;
color: black;
display: flex;
justify-content: space-between;
align-items: center;
border-radius:10px;
height: 50px;
padding: 5px;
width:95%;

}

.actual_list ul li{
    height:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-left: 10px;
    margin:10px;
    border-radius: 10px;
}
/* footer styles */
img.social{
    width:20px;
    margin: 0px 10px;
}
footer{
    background-color: #f1f1f1;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    color: blueviolet;
    position:absolute;
    bottom: 0%;
    width: 100vw;
    
}